body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 90px;
    background-color: rgb(248, 48, 48);
    border-bottom: 2px rgb(248, 48, 48) solid;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-left: 10px;
}


#arias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100%;
}

.arias-div{
    height: 100%;
    border-bottom: 2px rgb(185, 185, 185) solid;
    color: rgb(185, 185, 185);
}

.arias-div:hover{
    border-bottom: 2px white solid;
    color: white;
    cursor: pointer;
}

.airas-class{
    margin-top: 20px;
}

/* content 1 chose the city */
#contain-div-city{
    height: 40%;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}

#chose-city-div{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

#chose-city-div #select-btn #select-city {
    font-size: 30px;
    margin-bottom: 10px;
    width: 240px;
}

#chose-city-div label{
    font-size: 22px;
    margin-bottom: 10px;
}

#shose-button {
    font-size: 30px;
}

/* Time box */

#prayTime-div {
    width: 100%;
    height: 100vh;
    background-color: green;
}

#show-time{
    margin: 0;
    border-top: 2px black solid;
    display: flex;
    padding: 10px;
    background-color: blue;
    height: 50px;
    width: max-content;
    border-bottom-right-radius: 30px;
}

#container-timeBox{
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-evenly;
}

.pray-time-box {
    background-color: blanchedalmond;
    width: 110px;
    text-align: center;
    padding: 8px;
    border-top-left-radius: 20px;

}

.pray-time-box h3 {
    background-color: blueviolet;
    color: white;
    border-radius: 20px;
}