body {
    margin: 0;
    padding: 0;
    background-color: rgb(33, 42, 70);
}

a {
    text-decoration: none;
    color: blanchedalmond;

}

header {
    width: 100%;
    height: 90px;
    background-color: rgb(255, 63, 63);
    border-bottom: 2px rgb(255, 63, 63) solid;
    display: flex;
    justify-content: space-around;
}

#logo {
    margin-left: 10px;
    color: azure;
    margin-right: 10px;
}


#arias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100%;
}

#arias a {
    height: 55%;
}

.arias-div{
    height: 100%;
    border-bottom: 2px blanchedalmond solid;
    color: blanchedalmond;
}

.arias-div:hover{
    border-bottom: 2px rgb(143, 143, 143) solid;
    color: rgb(143, 143, 143);
    cursor: pointer;
}

.airas-class{
    margin-top: 20px;
}

/* content 1 chose the city */
#contain-div-city{
    height: 40%;
    background-color: rgb(33, 42, 70);
    display: flex;
    justify-content: space-evenly;
}

#chose-city-div{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

#chose-city-div #select-btn #select-city {
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 240px;
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 10px;
}

optgroup {
    background-color: azure;
}

optgroup option {
    background-color: blanchedalmond;
}

#chose-city-div label{
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

#shose-button {
    font-size: 30px;
    width: 60px;
    background-color: rgb(254, 91, 91);
    color: white;
    margin-left: 30px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin: 5px auto;
}

/* Time box */

#prayTime-div {
    width: 100%;
    height: 100vh;
    background-color: rgb(33, 42, 70);
}

#show-time{
    margin: 0;
    border-top: 2px black solid;
    display: flex;
    padding: 10px;
    background-color: rgb(254, 91, 91);
    color: white;
    height: 50px;
    width: max-content;
    border-bottom-right-radius: 30px;
}

#show-time p {
    margin: 9px;
    padding-top: 7px;
    font-weight: bold;
    font-size: 20px;
}

#container-timeBox{
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-evenly;
}

.pray-time-box {
    background-color: blanchedalmond;
    width: 110px;
    text-align: center;
    padding: 8px;
    border-top-left-radius: 20px;
    border: 2px rgb(254, 91, 91) solid;

}

.pray-time-box h3 {
    background-color: rgb(33, 42, 70);
    color: white;
    border-radius: 20px ;
}

#athan-time-cont {
    margin: 30px auto;
    padding: 15px;
    text-align: center;
    width: max-content;
    height: max-content;
    background-color: rgb(254, 91, 91);
    border-radius: 20px;
}

#athan-time-cont h1 {
    color: white;
}

#time-h1{

    background-color: rgb(33, 42, 70);
    border-radius: 20px;
}



@media (max-width: 930px) {
    #container-timeBox {
        width: 510px;

        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pray-time-box {
        margin: 15px;
    }

    #show-time p{
        font-size: 10px;
        
    }
}

@media (max-width: 510px) {
    .pray-time-box {
        font-size: 10px;
        padding: 4px;
    }

    .pray-time-box h2 {
        width: max-content;
        text-align: center;
        margin: auto;
    }

    #container-timeBox {
        width: 90%;
        margin: 40px auto;
    }
}

@media (max-width: 370px) {
    #athan-time-cont {
        font-size: 10px;
        max-width: 90%;
    }
    .airas-class {
        font-size: 15px;
    }

    #shose-button{
        margin: 10px auto;
        margin-left: 80px;
    }
}

@media (max-width: 360px) {
    #show-time {
        font-size: 5px;
        width: max-content;
        height: max-content;
    }
    

}

@media (max-width: 337px) {
    #container-timeBox {

        justify-content: center;
    }
}