:root {
    --red: rgb(254, 91, 91);
    --dark-blue:rgb(33, 42, 70);
    --light-orange: blanchedalmond;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bs-secondary-color) !important;
}

a {
    text-decoration: none !important; 
    color: blanchedalmond;

}

header {
    width: 100%;
    height: 90px;
    background-color: rgb(255, 63, 63);
    border-bottom: 2px rgb(255, 63, 63) solid;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-left: 10px;
    color: azure;
}

#logo a h1 {
    color: azure;
    margin-top: 15px;
}

#arias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100%;
}

#arias a {
    height: 55%;
}

.arias-div{
    height: 100%;
    border-bottom: 2px blanchedalmond solid;
    color: blanchedalmond;
}

.arias-div:hover{
    border-bottom: 2px rgb(143, 143, 143) solid;
    color: rgb(143, 143, 143);
    cursor: pointer; 
}

.airas-class{
    margin-top: 20px;
}

/* End Headers ---------------------------------------------- */
.table {
    background-color: #fff;
    border-radius: 10px;
}

.table-hover tbody tr:hover {
    background-color: #ffcccb !important; /* لون الخلفية عند التحويم */
    color: #000000 !important; /* لون النص عند التحويم */
}



table tbody tr:hover {
    background-color: red !important;
    color: white;
}
#souras {
    
}

.soura {
    cursor: pointer;
}

.soura:hover {
    background-color: var(--red) !important;
    color: white;
}

#ayat {
    width: 90%;
    height: 90%;
    min-height: 200px;
    background-color: antiquewhite;
    margin: 40px auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#soura-name h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}

#soura-name p {
    font-size: 30px;
    padding: 10px;
    direction: rtl;
    line-height: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--dark-blue);
}

#aya-number {
    color: blue;
}

#bism-allah {
    color: blue;
    text-align: center;
    margin: 10px auto;
}

@media (max-width: 670px) {
    #soura-name p {
        font-size: 20px;
        letter-spacing: 0.1px;
    }
}
